// ==========================================================================
// Navbar
// ==========================================================================

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0;
	background: $white;
	line-height: 1;
	height: 75px;
	z-index: 99;
	.site-logo {
		float: left;
		margin-top: 1em;
	}
	.nav {
		float: right;
		font-size: .85em;
		margin-top: 1.75em;
		li {
			margin: 0 em(6px);
		}
	}
}
